{
"repository":{
        "type":"git",
        "url":"git@github.com:elaheabs/my-github-actions.git"
      },
"release": {
    "analyzeCommits": "@semantic-release/commit-analyzer",
    "verifyConditions": "@semantic-release/npm",
    "prepare": "@semantic-release/npm",
    "generateNotes" : "@semantic-release/release-notes-generator",    
    "success": false,
    "fail": false,
    "branch": "main",
    "npmPublish": false,
    "tarballDir": "dist",
    "assets": "dist/*.tgz"
  }
}